.active {
    box-shadow: 10px 5px 5px red;
}

#player1,
#player2 {
    display: flex;
    gap: 20px;
}

#mainContainer {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}